* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 1140px \ 2);
  padding-right: calc(50% - 1140px \ 2);
}

.HEADLINE {
  position: relative;
  overflow: hidden;
}

.header {
  min-height: 75px;
  background: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header__link-site-conteiner {
  position: relative;
}

.box-content {
  overflow: hidden;
}

.header__link-site-conteiner {
  position: relative;
}

.header_img::after {
  content: url(./img/header_im.png);
  position: absolute;
  display: block;
  top: 0px;
  width: 50px;
  padding: 12px 0px 0px 22px;
}

.Header_five {
  content: url(./img/FiveBasket.png);
  position: absolute;
  display: block;
  top: 0px;
  width: 7px;
  padding: 15px 0px 0px 26px;
}

.top_head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_head_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadCrumbs_link {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadCrumbs_lik_site {
  font-weight: 700;
  color: #F16D7F;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  display: flex;
}
.filter-sort .sort {
  position: relative;
  left: 490px;
  top: 10px;
  display: flex;
  gap: 18px;
}
.filter-sort .sort_details {
  position: relative;
}
.filter-sort .sort_summmary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter-sort .sort_check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.filter-sort .sort_check {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.filter-sort .sort_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.filter-sort .sort_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}
.filter-sort .sort[open] {
  background-color: #FFFFFF;
  box-shadow: 6px 4px 45px rgba(0, 0, 0, 0.21);
}

.Filter {
  padding: 13px 16px 16px;
  width: 360px;
  position: absolute;
  box-sizing: border-box;
}
.Filter_content {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.Filter[open] .filter_Heading {
  color: #F16D7F;
}
.Filter[open] path {
  fill: #F16D7F;
}
.Filter_summary {
  display: flex;
  align-items: center;
  gap: 11px;
  left: 16px;
}
.Filter_Heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
}
.Filter_Heading_link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.Filter_Heading__link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background: #6F6E6E;
  padding: 24px 16px;
}
.Filter_Heading__link:hover {
  color: #F16D7F;
}
.Filter_item {
  margin-top: 16px;
}
.Filter_headingg {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  background: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #6F6E6E;
  border-left: 5px solid #F16D7F;
}
.Filter_item[open] .filter_headingg {
  color: #F16D7F;
}

.product-box {
  padding-bottom: 96px;
}

.product-box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.product__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}

.product-box__content {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

.product {
  position: relative;
}

.product:hover .product__img {
  filter: brightness(0.5);
}

.product .product__add {
  display: flex;
}

.product__img {
  width: 100%;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}

.product__add {
  box-shadow: 0 0 5px #fff;
}

.product__add svg path {
  fill: #F16D7F;
}

.product__content {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.advantages {
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.advantages__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.advantages__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.cent {
  position: relative;
  background-image: url(./img/bottom1.jpg);
  padding: 118px;
}

.fotoOne {
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}

.fotoTwo {
  align-items: center;
  justify-content: center;
  padding-left: 900px;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.FOTTERLINE {
  position: relative;
  overflow: hidden;
}

.fotter {
  min-height: 75px;
  background: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fotter__left {
  display: flex;
  align-items: center;
}

.fotter__right {
  display: flex;
  align-items: center;
  gap: 12px;
}/*# sourceMappingURL=style.css.map */